:root {
  --color-primary: #000a1a;     /* основний колір (наприклад, для заголовків) */
  --color-secondary: #4dfcff;   /* другорядний (для кнопок або елементів) */
  --color-accent: #FF7B00;      /* акцент (посилання, hover-ефекти) */      
  --color-text: white;        /* текст */
}

body {
  background-image: url("../image/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-text);
  font-family: "Playfair Display", serif;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 10% 1fr; /* ліворуч сайдбар */
  grid-template-rows: auto 1fr auto; /* зверху header, внизу footer */
  min-height: 100vh;
  gap: 20px 20px;
}

h1 {
  grid-area: content;
  color: var(--color-text);
}

a:hover {
  grid-area: content;
  color: var(--color-secondary);
}

.header {
  grid-area: header;
  background-color: var(--color-accent);
  display: flex;
  justify-content: space-around;
  padding: 0.9em 0.9em;
  color: white;
}

.header_wrapper {
  display: flex;
  align-items: center; 
  justify-content:first baseline;
  gap: 0.9em;
  color: white;
}

.header_zag {
  display: flex;
  align-items: center; 
  color: white;
  font-size: 2em;
}

.wrapper_logo-pic {
  height: 5em;
  width: auto;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
  box-shadow: inset -2px 0 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.sidebar_list-menu {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}

.sidebar_item {
  margin-bottom: 10px;  
  color: white;
}

.sidebar_item a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  transition: color 0.3s ease;
}

.sidebar_item a:hover {
  color: var(--color-accent);
}

/* === КОНТЕНТ === */
.content {
  grid-area: content;
  padding: 30px;
  line-height: 1.6;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.content_title {
  font-family: 'Bebas_Neue', sans-serif;
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.content_figure {
  text-align: center;
  margin-top: 20px;
}

.footer {
  grid-area: footer;
  background-color: var(--color-accent);
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

/* === АДАПТИВНІСТЬ === */
@media (max-width: 600px) {
  body {
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    grid-template-columns: 1fr;
  }

  .sidebar {
    text-align: center;
    border-top: 2px solid var(--color-accent);
  }

  .wrapper_logo-pic {
    height: 5em;
    width: auto;
  }
  .header_zag {
    text-align: center;
    color: white;
    font-size: 1em;
  }
  th, td {
    padding: 0em;
    text-align: center;
    border: 0.001em solid #444;
  }
  tr:hover {
    background-color: #f5f5f5;
  }

}

@media (min-width: 601px) and (max-width: 900px) {
  body {
    grid-template-areas:
      "header sidebar"
      "content content"
      "footer footer";
    grid-template-columns: 1fr;
  }

  .sidebar {
    text-align: center;
    border-top: 2px solid var(--color-accent);
  }

  .wrapper_logo-pic {
    height: 5em;
    width: auto;
  }
  .header_zag {
    text-align: center;
    color: white;
    font-size: 1em;
  }
  th, td {
    padding: 0em;
    text-align: center;
    border: 0.001em solid #444;
  }
  tr:hover {
    background-color: #f5f5f5;
  }

}
@media print {
 body {
 background: none;
 color: black;
 }
}