:root {
  --color-primary: #000a1a;     /* основний колір (наприклад, для заголовків) */
  --color-secondary: #4dfcff;   /* другорядний (для кнопок або елементів) */
  --color-accent: 	#2c2cfd;      /* акцент (посилання, hover-ефекти) */
  --color-bg: #cce0ff;          /* фон */
  --color-text: #001219;        /* текст */
  @font-face {
    font-family: 'Playfair_Display', 'Bebas_Neue';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf), url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
  }
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
h1 {
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

.header_nav {
  background-color: var(--color-accent);
  height: 60px;
  width: 100%
}

.header_wrapper {
  display: flex;
  justify-content:first baseline;
  gap: 30px;
  align-items: center;
}

.wrapper_logo.pic {
  height: 60px;
  width: auto;
}

.header_list-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 15px;
}

.header_link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

footer {
  background-color: var(--color-accent);
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

th, td {
 padding: 15px;
 text-align: center;
 border: 1px solid #444; /* товщина, стиль, колір рамки */
}

tr:hover {background-color: #f5f5f5;}

table {
  width: 100%;
  border-collapse: collapse; 
  border: #000a1a 1px;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Playfair_Display'
}
textarea {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Playfair_Display'
}
input[type=submit] {
  background-color: #41c021;
  color: #f5f5f5;
}