:root {
  --color-primary: #000a1a;     /* основний колір (наприклад, для заголовків) */
  --color-secondary: #4dfcff;   /* другорядний (для кнопок або елементів) */
  --color-accent: 	#2d2dec;      /* акцент (посилання, hover-ефекти) */
  --color-bg: #cce0ff;          /* фон */
  --color-text: #001219;        /* текст */
  @font-face {
    font-family: 'Playfair_Display', 'Bebas_Neue';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf), url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
  }
}