.footer {
  grid-area: footer;
  background-color: var(--color-accent);
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}