body {
  background-color: var(--color-bg);
  color: var(--color-text);
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 10% 1fr; /* ліворуч сайдбар */
  grid-template-rows: auto 1fr auto; /* зверху header, внизу footer */
  min-height: 100vh;
  gap: 1.5% 1.5%;
}

h1 {
  grid-area: content;
  color: var(--color-primary);
}

a:hover {
  grid-area: content;
  color: var(--color-secondary);
}

.header {
  grid-area: header;
  background-color: var(--color-accent);
  display: flex;
  justify-content: space-around;
  padding: 0.9em 0.9em;
  color: white;
}

.header_wrapper {
  display: flex;
  align-items: center; 
  justify-content:first baseline;
  gap: 0.9em;
  color: white;
}

.header_zag {
  display: flex;
  align-items: center; 
  color: white;
  font-size: 2em;
}

.wrapper_logo-pic {
  height: 5em;
  width: auto;
}
.content {
  grid-area: content;
  padding: 30px;
  line-height: 1.6;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.content_title {
  font-family: 'Bebas_Neue', sans-serif;
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.content_figure {
  text-align: center;
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #444;
}

tr:hover {
  background-color: #f5f5f5;
}

/* === ФОРМИ === */
input, textarea {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Playfair_Display';
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
}

input[type=submit] {
  background-color: #41c021;
  color: white;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #36a71b;
}
input[type=reset]{
  border: none;
  cursor: pointer
}
input[type=reset]:hover {
  background-color: #d8ecd3;
}