* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}
@media (max-width: 600px) {
  body {
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    grid-template-columns: 1fr;
  }

  .sidebar {
    text-align: center;
    border-top: 2px solid var(--color-accent);
  }

  .wrapper_logo-pic {
    height: 5em;
    width: auto;
  }
  .header_zag {
    text-align: center;
    color: white;
    font-size: 1em;
  }
  th, td {
    padding: 0em;
    text-align: center;
    border: 0.001em solid #444;
  }
  tr:hover {
    background-color: #f5f5f5;
  }

}
@media (min-width: 601px) and (max-width: 900px) {
  body {
    grid-template-areas:
      "header sidebar"
      "content content"
      "footer footer";
    grid-template-columns: 1fr;
  }

  .sidebar {
    text-align: center;
    border-top: 2px solid var(--color-accent);
  }

  .wrapper_logo-pic {
    height: 5em;
    width: auto;
  }
  .header_zag {
    text-align: center;
    color: white;
    font-size: 1em;
  }
  th, td {
    padding: 0em;
    text-align: center;
    border: 0.001em solid #444;
  }
  tr:hover {
    background-color: #f5f5f5;
  }

}
@media print {
 body {
 background: none;
 color: black;
 }
}
